<div class="container wrapper">
    <div class="row">
        <div class="col-sm-12 landing-wrap">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="dropdown select-wrap">
                <button class="btn btn-default dropdown-toggle text-center" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                    <span class="select-action">Select Action</span>
                    <span class="arrow"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="javascript:void(0)">New Loan</a></li>
                    <li><a href="javascript:void(0)">Pay Loan</a></li>
                    <li><a href="javascript:void(0)">Rescind Loan</a></li>
                    <li><a href="javascript:void(0)">Refinance</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row paddTB15 title-wrap">
        <div class="col-sm-6">
            <h4>360-degree view</h4>
        </div>
        <div class="col-sm-6 text-right">
            <span>Active</span>
            <span class="circle"></span>
        </div>
    </div>
    <div class="row marB20">
        <div class="col-sm-12">
            <div class="transactions-wrap">
                <ul class="nav nav-tabs">
                    <li class="active col-sm-3">
                        <a class="first" href="#1" data-toggle="tab"><span class="info">10</span><span class="info-txt">All Transactions</span></a>
                    </li>
                    <li class="col-sm-3">
                        <a href="#2" data-toggle="tab"><span class="success">03</span><span class="info-txt">Active Loans</span></a>
                    </li>
                    <li class="col-sm-3">
                        <a href="#3" data-toggle="tab"><span class="danger">01</span><span class="info-txt">Debt Indicators</span></a>
                    </li>
                    <li class="col-sm-3">
                        <a href="#4" data-toggle="tab"><span class="danger">02</span><span class="info-txt">Critical Note Indicators</span></a>
                    </li>
                </ul>

                <div class="tab-content ">
                    <div class="tab-pane active trans-table-wrap" id="1">
                        <h4>Transaction History</h4>
                        <div class="table-responsive">
                            <table class="table trans-table">
                                <thead>
                                    <tr>
                                        <th>Transaction Date</th>
                                        <th>Amount</th>
                                        <th>Transaction Description</th>
                                        <th>Cheque\Ref#</th>
                                        <th>Type\Dept</th>
                                        <th>Post Date</th>
                                        <th>Loc#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>11/09/2017</td>
                                        <td>$1,170.00</td>
                                        <td>Loans-Rescind Advance</td>
                                        <td>---</td>
                                        <td>-AD</td>
                                        <td>11/09/2017</td>
                                        <td>2051</td>
                                    </tr>
                                    <tr>
                                        <td>11/09/2017</td>
                                        <td>$1,170.00</td>
                                        <td>Loans-Rescind Advance</td>
                                        <td>---</td>
                                        <td>-AD</td>
                                        <td>11/09/2017</td>
                                        <td>2051</td>
                                    </tr>
                                    <tr>
                                        <td>11/09/2017</td>
                                        <td>$1,170.00</td>
                                        <td>Loans-Rescind Advance</td>
                                        <td>---</td>
                                        <td>-AD</td>
                                        <td>11/09/2017</td>
                                        <td>2051</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 land-checkbox">
                                <div class="material-checkbox-group">
                                    <input type="checkbox" id="checkbox0" name="checkbox" class="m-checkbox">
                                    <label class="m-checkbox-label" for="checkbox0">NMM Active Employee</label>
                                </div>
                                <div class="material-checkbox-group">
                                    <input type="checkbox" id="checkbox1" name="checkbox" class="m-checkbox">
                                    <label class="m-checkbox-label" for="checkbox1">Commerical Customer</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane trans-table-wrap" id="2">
                        <h4>Transaction History</h4>
                        <div class="table-responsive">
                            <table class="table trans-table">
                                <thead>
                                    <tr>
                                        <th>Transaction Date</th>
                                        <th>Amount</th>
                                        <th>Transaction Description</th>
                                        <th>Cheque\Ref#</th>
                                        <th>Type\Dept</th>
                                        <th>Post Date</th>
                                        <th>Loc#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>11/09/2017</td>
                                        <td>$1,170.00</td>
                                        <td>Loans-Rescind Advance</td>
                                        <td>---</td>
                                        <td>-AD</td>
                                        <td>11/09/2017</td>
                                        <td>2051</td>
                                    </tr>
                                    <tr>
                                        <td>11/09/2017</td>
                                        <td>$1,170.00</td>
                                        <td>Loans-Rescind Advance</td>
                                        <td>---</td>
                                        <td>-AD</td>
                                        <td>11/09/2017</td>
                                        <td>2051</td>
                                    </tr>
                                    <tr>
                                        <td>11/09/2017</td>
                                        <td>$1,170.00</td>
                                        <td>Loans-Rescind Advance</td>
                                        <td>---</td>
                                        <td>-AD</td>
                                        <td>11/09/2017</td>
                                        <td>2051</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 land-checkbox">
                                <div class="material-checkbox-group">
                                    <input type="checkbox" id="checkbox0" name="checkbox" class="m-checkbox">
                                    <label class="m-checkbox-label" for="checkbox0">NMM Active Employee</label>
                                </div>
                                <div class="material-checkbox-group">
                                    <input type="checkbox" id="checkbox1" name="checkbox" class="m-checkbox">
                                    <label class="m-checkbox-label" for="checkbox1">Commerical Customer</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane trans-table-wrap" id="3">
                        <h4>Transaction History</h4>
                        <div class="table-responsive">
                            <table class="table trans-table">
                                <thead>
                                    <tr>
                                        <th>Transaction Date</th>
                                        <th>Amount</th>
                                        <th>Transaction Description</th>
                                        <th>Cheque\Ref#</th>
                                        <th>Type\Dept</th>
                                        <th>Post Date</th>
                                        <th>Loc#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>11/09/2017</td>
                                        <td>$1,170.00</td>
                                        <td>Loans-Rescind Advance</td>
                                        <td>---</td>
                                        <td>-AD</td>
                                        <td>11/09/2017</td>
                                        <td>2051</td>
                                    </tr>
                                    <tr>
                                        <td>11/09/2017</td>
                                        <td>$1,170.00</td>
                                        <td>Loans-Rescind Advance</td>
                                        <td>---</td>
                                        <td>-AD</td>
                                        <td>11/09/2017</td>
                                        <td>2051</td>
                                    </tr>
                                    <tr>
                                        <td>11/09/2017</td>
                                        <td>$1,170.00</td>
                                        <td>Loans-Rescind Advance</td>
                                        <td>---</td>
                                        <td>-AD</td>
                                        <td>11/09/2017</td>
                                        <td>2051</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 land-checkbox">
                                <div class="material-checkbox-group">
                                    <input type="checkbox" id="checkbox0" name="checkbox" class="m-checkbox">
                                    <label class="m-checkbox-label" for="checkbox0">NMM Active Employee</label>
                                </div>
                                <div class="material-checkbox-group">
                                    <input type="checkbox" id="checkbox1" name="checkbox" class="m-checkbox">
                                    <label class="m-checkbox-label" for="checkbox1">Commerical Customer</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane trans-table-wrap" id="4">
                        <h4>Transaction History</h4>
                        <div class="table-responsive">
                            <table class="table trans-table">
                                <thead>
                                    <tr>
                                        <th>Transaction Date</th>
                                        <th>Amount</th>
                                        <th>Transaction Description</th>
                                        <th>Cheque\Ref#</th>
                                        <th>Type\Dept</th>
                                        <th>Post Date</th>
                                        <th>Loc#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>11/09/2017</td>
                                        <td>$1,170.00</td>
                                        <td>Loans-Rescind Advance</td>
                                        <td>---</td>
                                        <td>-AD</td>
                                        <td>11/09/2017</td>
                                        <td>2051</td>
                                    </tr>
                                    <tr>
                                        <td>11/09/2017</td>
                                        <td>$1,170.00</td>
                                        <td>Loans-Rescind Advance</td>
                                        <td>---</td>
                                        <td>-AD</td>
                                        <td>11/09/2017</td>
                                        <td>2051</td>
                                    </tr>
                                    <tr>
                                        <td>11/09/2017</td>
                                        <td>$1,170.00</td>
                                        <td>Loans-Rescind Advance</td>
                                        <td>---</td>
                                        <td>-AD</td>
                                        <td>11/09/2017</td>
                                        <td>2051</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 land-checkbox">
                                <div class="material-checkbox-group">
                                    <input type="checkbox" id="checkbox0" name="checkbox" class="m-checkbox">
                                    <label class="m-checkbox-label" for="checkbox0">NMM Active Employee</label>
                                </div>
                                <div class="material-checkbox-group">
                                    <input type="checkbox" id="checkbox1" name="checkbox" class="m-checkbox">
                                    <label class="m-checkbox-label" for="checkbox1">Commerical Customer</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row marB20">
        <div class="col-sm-12 text-right btn-wrap">
            <a [routerLink]="['/customerdetail']" class="btn btn-primary">Start</a>
        </div>
    </div>
</div>
<script src="../assets/js/home.js"></script>
<!--<script>
    $(function () {
        $('.scroll-pane').jScrollPane();
    });
</script>-->