################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LoanWebApplication/LoanWebApplication/bin
/LoanWebApplication/LoanWebApplication/node_modules
/LoanWebApplication/LoanWebApplication/obj/Debug
/.vs
/LoanWebApplication/.vs/LoanWebApplication/v15
/LoanWebApplication/Lending.Core.Service/obj
/LoanWebApplication/Lending.Core.Service/bin
/LoanWebApplication/LoanWebApplication/src/app/customerexpenditure
